.artist-details-container {
  padding: 30px;
}

.top-artist-details-wrapper {
  display: flex;
  margin: 0 0 30px 0;
}

.left-artist-details-box {
  flex: 2;
}

.right-artist-details-box {
  flex: 1;
}

.popular-tracks-title {
  color: #dedede;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}

.artist-details-button-container {
  margin-top: -30px;
}

.tracklist-wrapper {
  margin-right: 10px;
}

.artist-albums-title {
  color: #dedede;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  margin: 0;
}

.artist-albums-container {
  margin-top: 20px;
}
