.top-artist-details-wrapper {
  display: flex;
  margin: 30px 50px 0 10px;
}

.left-artist-details-box {
  flex: 2;
}

.right-artist-details-box {
  flex: 1;
}

.popular-tracks-title {
  color: #dedede;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-left: 40px;
}

.artist-details-button-container {
  margin-left: 30px;
  margin-top: -20px;
}
