.artist-wrapper {
  border-radius: 50%;
  width: 200px;
  height: 240px;
  margin: 20px 20px 30px 20px;
}

.image-box {
  position: relative;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.faded-box {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: inherit;
  width: 200px;
  height: 200px;
  display: none;
  cursor: pointer;
}

.play-image-button {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  left: 68px;
  bottom: 68px;
  border: 2px solid #ccc;
  display: none;
}

.play-image-button:hover {
  transform: scale(1.1);
  border: 2px solid #eee;
}

.play-image-button::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid #eee;
  left: 25px;
  top: 14px;
}

.image-box:hover .faded-box {
  display: block;
}

.image-box:hover .play-image-button {
  display: block;
}

.artist-image {
  border-radius: inherit;
}

.artist-name {
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  cursor: default;
}
