.libraries-list {
  list-style: none;
  color: #fff;
  padding: 0;
  margin: 0;
}

.libraries-list > li {
  padding: 5px;
}

li.library-header {
  font-size: 12px;
  font-weight: 100;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 2px;
  color: #ddd;
  padding-left: 25px;
}

.library-item > a {
  font-size: 14px;
  font-family: 'Catamaran', sans-serif;
  cursor: pointer;
  color: #bcbcbc;
  text-decoration: none !important;
  letter-spacing: 1px;
  font-weight: 600;
  padding-left: 20px;
}

.library-item > a:hover {
  color: #fff;
}

.selected-element.library-item > a {
  color: #fff;
  border-left: 4px solid #2ebd59;
}
