.libraries-list {
  list-style: none;
  color: #fff;
  padding: 0;
  margin: 0;
}

.libraries-list > li {
  padding: 5px;
}

.library-header {
  font-size: 12px;
  font-weight: 100;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 2px;
  color: #ddd;
}

.library-item > a {
  font-size: 14px;
  font-family: 'Catamaran', sans-serif;
  cursor: pointer;
  color: #dcdcdc;
  text-decoration: none !important;
  letter-spacing: 1px;
}

.library-item > a:hover {
  color: #fff;
}
