.playlist-item > a {
  font-size: 14px;
  font-family: 'Catamaran', sans-serif;
  cursor: pointer;
  color: #bcbcbc;
  text-decoration: none !important;
  letter-spacing: 1px;
  font-weight: 600;
  padding-left: 20px;
}

.playlist-item > a:hover {
  color: #fff;
}

.selected-element.playlist-item > a {
  color: #fff;
  border-left: 4px solid #7bf045;
}
