.playlists-list {
  list-style: none;
  color: #fff;
  padding: 0;
  margin: 0;
}

.playlists-list > li {
  padding: 5px;
}

li.playlists-header {
  font-size: 12px;
  font-weight: 100;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 2px;
  color: #ddd;
  padding-left: 25px;
}

.playlist-item {
  font-size: 14px;
  font-family: 'Catamaran', sans-serif;
  cursor: pointer;
  color: #ededed;
  text-decoration: none !important;
  letter-spacing: 1px;
}
