.playlist-item > a {
  font-size: 14px;
  font-family: 'Catamaran', sans-serif;
  cursor: pointer;
  color: #dcdcdc;
  text-decoration: none !important;
  letter-spacing: 1px;
}

.playlist-item > a:hover {
  color: #fff;
}
