.app {
  display: grid;
  grid-template-columns: 200px auto 200px;
  grid-template-rows: 200px auto;
  background: #000;
  height: 100vh;
}

.header {
  background: green;
  grid-column: 2;
  grid-row: 1;
}

.left-sidebar {
  background: blue;
  grid-column: 1;
  grid-row: 1 / 3;
}

.right-sidebar {
  background: yellow;
  grid-column: 3;
  grid-row: 1 / 3;
}

.main {
  background: orange;
  grid-column: 2;
  grid-row: 2;
}
